@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-stack : 'Inter', sans-serif;

@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

%title-txt {
  @include font($fs: 27px, $fw: 700, $lh: 35px, $ls: .3px);
}

%about-txt {
  @include font($fs: 15px, $fw: 400, $lh: 25px, $ls: normal);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F7F2;
  padding: 40px 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
p,
li,
ol,
ul {
  margin: 0;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}